@import url("./fonts.css");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.top-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background/castelmezzano-1979546 1.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
 }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom:202px;
}

.logo-header {
  width: 205px;
  height: 40px;
  margin-right: 684px;
}

.line{
  border-bottom: solid #f5bd41;
}

.link-header {
  display:flex;
  gap: 24px;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  padding-bottom: 12px;
}

.header-button{
  background-color: rgba(28,28,28,0);
  border: none;
}

.header-icon-night {
  width: 30px;
  height: 30px;
  background-image: url("../images/sprites.png");
  background-position: 0 0;
  margin:0 24px 0 48px;
}

.header-icon-account {
  width: 40px;
  height: 40px;
  background-image: url("../images/sprites.png");
  background-position: -30px;
}

.page {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.page-heading {
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 80px;
}

.page-label {
  display: flex;
  gap: 221px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}

.search {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
}

.search-input-name {
  width: 386px;
  height: 64px;
  border: 3px;
  border-radius: 8px;
  text-align: center;
  color: #383838;
}

.search-input {
  width: 259px;
  height: 64px;
  border-radius: 8px;
  border: 3px solid #f5bd41;
  text-align: center;
  color: #383838;
}

.search-button {
  width: 192px;
  height: 64px;
  border: 3px;
  border-radius: 8px;
  background-color: #3077c6;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.apps {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  gap: 20px;
  padding-bottom: 120px;
}

.app-android {
  width: 135px;
  height: 40px;
  background-image: url("../images/sprites.png");
  background-position: -70px;
}

.app-apple {
  width: 120px;
  height: 40px;
  background-image: url("../images/sprites.png");
  background-position: -207px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 104px;
  row-gap: 66px;
  width: 1440px;
  height: 569px;
}

.hr-line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: none;
}

.advantages-content-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #383838;
  margin-bottom: 20px;
}

.advantages-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.footer {
  display: flex;
  width: 1440px;
  height: 625px;
  background-color: #10367c;
  flex-flow: row wrap;
  margin: 0;
}

.footer-content {
  color: #ffffff;
  width: 20%;
  margin-top: 120px;
  margin-left: 104px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.copyright {
  font-size: 14px;
}

.title-list {
  font-weight: bold;
}

.list-content {
  list-style-type: none;
  font-size: 20px;
  line-height: 2;
}
