@import url("./fonts.css");
:root {
  --font-color: #ffffff;
  --col-width: calc(100% / 12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  outline: none;
}

.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: 100%;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.top-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background/castelmezzano-1979546 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 150px;
}

.header__logo {
  width: 205px;
  height: 40px;
  background-image: url("../images/sprites.svg");
  background-position: 0 0;
}

.header__link-wrapper {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.header__link-container {
  display: flex;
  gap: 48px;
}

.header__link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
  padding-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.header__link:before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  left: 5px;
  bottom: -12px;
  transform: scaleX(0);
  transition: -webkit-transform 0.25s;
}

.header__link:hover:before {
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  transition: -webkit-transform 0.25s;
}

.header__button {
  background-color: rgba(28, 28, 28, 0);
  border: none;
}

.header__icon-night {
  width: 30px;
  height: 30px;
  background-image: url("../images/sprites.svg");
  background-position: -205px;
}

.header__icon-account {
  width: 40px;
  height: 40px;
  background-image: url("../images/sprites.svg");
  background-position: -235px;
}
.header__icon-menu {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

.page__heading {
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 80px;
}

.page__label {
  display: flex;
  gap: 274px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
  cursor: pointer;
}
.glass {
  display: none;
}

.page__label-mob {
  display: none;
}

.search {
  display: flex;
  background-color: var(--font-color);
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
}

.search__input-name {
  width: 32rem;
  height: 64px;
  border: 3px;
  border-radius: 8px;
  text-align: left;
  color: #383838;
  padding-left: 24px;
  cursor: pointer;
}
.search__input-name:hover {
  border: 3px solid #f5bd41;
}

.search__input {
  width: 16rem;
  height: 64px;
  border-radius: 8px;
  border: 3px;
  color: #383838;
  text-align: center;
  cursor: pointer;
}

.search__input:hover {
  border: 3px solid #f5bd41;
}
.input-mobile-date{
  display: none;
}
.input-mobile {
  display: none;
}

.input-mobile-span{
  display: none;
}

.search__button {
  width: 192px;
  height: 64px;
  border: 3px;
  border-radius: 8px;
  background-color: #3077c6;
  color: var(--font-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.apps {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  gap: 20px;
  padding-bottom: 120px;
}

.app__android {
  width: 135px;
  height: 40px;
  background-image: url("../images/sprites.svg");
  background-position: -275px;
}

.app__apple {
  width: 120px;
  height: 40px;
  background-image: url("../images/sprites.svg");
  background-position: -410px;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px;
  row-gap: 66px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__heading {
  font-size: 40px;
  color: #383838;
  margin-bottom: 20px;
  position: relative;
}

.advantages__heading::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  transform: translate(50%, 50%);
  top: 140%;
  left: 20%;
}

.advantages__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  font-size: 24px;
}

.advantages__content--svg {
  width: 100px;
  aspect-ratio: 1/1;
}

.homes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf0f9;
  gap: 105px;
  padding: 120px 104px;
}

.homes_container {
  display: flex;
  gap: 1rem;
}

.homes__heading {
  font-size: 40px;
  color: #383838;
  margin-bottom: 20px;
}

.homes__hotel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.homes_img {
  max-width: 100%;
  width: 18.5rem;
  aspect-ratio: 1/1;
}

.homes__hotel a {
  text-decoration: none;
  color: #3077c6;
  font-size: 24px;
  cursor: pointer;
}

.homes__hotel p {
  font-size: 24px;
  color: #bfbfbf;
}

.homes__arrow {
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 8rem;
  margin-left: -2rem;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  cursor: pointer;
}

.destination__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 120px;
  padding: 0 104px;
  position: relative;
}

.destination__heading {
  text-align: center;
  font-size: 40px;
  color: #383838;
  margin-bottom: 104px;
  border: 4px solid transparent;
}

.destination__buttons {
  display: flex;
  max-width: 100%;
}
.destination__buttons-mob{
  display: none;
}
.destination__buttons button {
  width: 192px;
  height: 64px;
  border-radius: 8px;
  border-style: none;
  font-size: 24px;
  background-color: #f3f3f4;
  text-align: center;
  cursor: pointer;
}
.destination__buttons button:last-child {
  width: 238px;
}
.destination__buttons button:hover {
  color: #ffffff;
  background-color: #3077c6;
}

.destination__regions {
  display: flex;
  margin-bottom: 48px;
  gap: 1rem;
  margin-top: 66px;
}

.destination__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  cursor: pointer;
}

.destination__block-hover a {
  text-decoration: none;
  color: #3077c6;
  font-size: 24px;
}

.destination__block-hover {
  max-width: 296px;
  aspect-ratio: 1/1;
  text-align: center;
  position: relative;
}

.destination__button-hover {
  display: none;
  max-width: 120px;
  max-height: 48px;
  background-color: #ffffff;
  color: #3077c6;
  border: 1px;
  border-radius: 8px;
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:1;
}
.destination__block-hover:hover .destination__button-hover{
  display: block;
}
.destination__img {
  width: 100%;
  max-width: 296px;
  aspect-ratio: 1/1;
  opacity: 1;
}

.destination__img:hover {
  opacity: 0.1;
}

.destination__arrow {
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url("../images/arrow_down.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  position: absolute;
  bottom: -70px;
  left: 700px;
  z-index: 1;
}
.sign_up{
  padding-left: 104px;
}

.sign_up__container{
  display: flex;
  width: 1232px;
  height: 200px;
  background-color: #eaf0f9;
  gap: 24px;
  padding: 52px 24px;
  position: relative;
}

.sign_up__button{
  width: 128px;
  height: 48px;
  background-color: #FFFFFF;
  color: #3077C6;
  border: 1px solid #3077C6;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
.sign_up__text{
  display: flex;
  flex-direction: column ;
  gap: 21px;
}
.sign_up__avatar{
  width: 100%;
  max-width: 86px;
  aspect-ratio: 1/1;
  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
}
.sign_up__exit {
  width: 100%;
  max-width: 26px;
  aspect-ratio: 1/1;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  left: 1185px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #10367c;
}

.footer__container {
  display: flex;
  flex-flow: row wrap;
}

.footer_title {
  display: none;
}

.footer__content {
  color: var(--font-color);
  width: 20%;
  margin-top: 120px;
  margin-left: 104px;
  font-weight: 400;
  line-height: 23px;
}

.copyright {
  font-size: 14px;
}

.list__title {
  list-style-type: none;
  font-weight: bold;
  text-decoration: none;
  color: var(--font-color);
  pointer-events: none;
  cursor: default;
}

.list__content {
  list-style-type: none;
  font-size: 20px;
  line-height: 2;
}

.list__content-link {
  text-decoration: none;
  color: var(--font-color);
}

@media (max-width: 1024px) {
  /*For mobile tablets*/
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }
  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }
  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }
  .col-md-12 {
    width: 100%;
  }

  .advantages__content {
    font-size: 15px;
    margin-bottom: 32px;
  }
  .homes_container {
    flex-wrap: wrap;
  }

  .footer__container {
    flex-flow: row nowrap;
    margin-bottom: 30px;
    gap: 16px;
    padding-left: 20px;
  }

  .footer__content {
    width: 100%;
    margin: 0;
  }

  .footer_title {
    display: block;
    height: 19px;
    margin: 40px 0;
  }

  .list__content {
    display: none;
  }

  .list__title {
    text-decoration: underline;
    pointer-events: auto;
    cursor: auto;
    font-size: 15px;
  }

  .copyright {
    font-size: 12px;
    padding-left: 20px;
  }

  .sign_up{
    display: none;
  }
}

@media (max-width: 768px) {
  /* For mobile phones: */
  :root {
    --col-width: calc(100% / 6);
    --font-color: #ffffff;
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .header {
    margin-top: 12px;
    margin-bottom: 52px;
  }

  .header__logo {
    width: 122px;
    background-image: url("../images/spites-mobile.svg");
    background-position: 0 0;
  }

  .header__icon-night {
    width: 16px;
    height: 24px;
    background-image: url("../images/spites-mobile.svg");
    background-position: -122px;
  }

  .header__icon-account {
    width: 24px;
    height: 24px;
    background-image: url("../images/spites-mobile.svg");
    background-position: -138px;
  }

  .header__icon-menu {
    display: unset;
    width: 24px;
    height: 24px;
    background-image: url("../images/spites-mobile.svg");
    background-position: -162px;
  }

  .header__link-container,
  .header__link-wrapper {
    gap: 16px;
  }

  .header__link {
    display: none;
  }

  .page__heading {
    font-size: 30px;
    padding-bottom: 31px;
  }

  .page {
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5bd41;
    border: 4px solid #f5bd41;
    gap: 8px;
  }
  .page__label {
    color: #383838;
    gap: 6px;
    position: absolute;
    top: 234px;
    left: 27px;
    z-index: 1;
  }

  .search__date {
    gap: 0.5rem;
    cursor: pointer;
  }

  .glass {
    display: inline;
    width: 16px;
    aspect-ratio: 1/1;
    background-image: url("../images/lupa.svg");
    background-size: cover;
  }

  .page__label-date {
    display: none;
    cursor: pointer;
  }

  .search__input {
    display: none;
  }
  .search__name {
    position: relative;
    cursor: pointer;
  }
  .search__input-name {
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    padding: 0;
    margin-top: 8px;
  }
  .search__input-name::placeholder {
    color: transparent;
  }
  .input-mobile-date {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 4px;
  }
  .input-mobile-date:hover{
    border: 3px solid #f5bd41;
  }
  .search__date {
    display: flex;
    gap: 8px;
  }
  .search__person {
    display: flex;
    padding: 2px 0;
    background: white;
    border-radius: 4px;
  }

  .page__label-mob {
    display: inline;
    color: #383838;
  }
  .input-mobile{
    display: flex;
    width: 100%;
    height:48px ;
    border: none;
    border-radius: 4px;
  }
  .input-mobile:hover{
    border: 3px solid #f5bd41;
  }

  .input-mobile-span{
    display: block;
    border-right: #383838;
    height: 70%;
  }
  .label-adults {
    position: absolute;
    top: 333px;
    left: 23px;
  }
  .label-child {
    position: absolute;
    top: 332px;
    left: 119px
  }
  .label-room {
    position: absolute;
    top: 330px;
    left: 223px;
  }
  .search__button {
    width: 100%;
    border: 2px solid #f5bd41;
    margin-bottom: 8px;
  }
  .apps {
    margin-top: 32px;
  }

  .advantages__container {
    gap: 32px;
  }

  .advantages__content {
    font-size: 15px;
    margin-bottom: 0;
  }

  .advantages__hr-line {
    display: none;
  }

  .advantages__heading {
    font-size: 28px;
  }

  .advantages__content--svg {
    width: 70px;
  }

  .homes {
    gap: 32px;
    padding: 40px 0;
  }
  .homes__heading {
    font-size: 28px;
  }

  .homes_img {
    width: 156px;
    aspect-ratio: 1/1;
  }
  .homes_container {
    flex-wrap: nowrap;
    gap: 16px;
  }
  .homes__mob {
    display: none;
  }
  .homes__hotel a {
    font-size: 12px;
  }
  .homes__hotel p {
    font-size: 12px;
  }
  .homes__arrow {
    width: 28px;
    aspect-ratio: 1/1;
    margin-top: 4rem;
    margin-left: -1.5rem;
    background-color: rgba(28, 28, 28, 0);
    border: none;
  }
  .destination__container{
    padding:0 1rem;
    margin:40px  0;
  }

  .destination__heading{
    font-size: 28px;
  }
  .destination__buttons {
    gap: 1rem;
  }
  .destination__buttons button {
    max-width: 99px;
    max-height: 32px;
    border-radius: 4px;
    font-size: 19px;
  }
  .destination__buttons-desk{
    display: none;
  }
  .destination__buttons-mob{
    display: block;
  }
  .block-mob{
    display: none;
  }
  .destination__img{
    width: 156px;
  }
.destination__arrow{
  max-width: 28px;
  background-image: url("../images/arrow.svg");
  bottom: 152px;
  left: 327px;
  z-index: 1;
}
  .destination__block a{
    font-size: 12px;
  }

}
